{% extends 'shopapp/base.html' %}

{% block title %}
    Product №{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
        <div>Created by: {{ product.user }}</div>
        <div>Description: <em>{{ product.description }}</em></div>
        <div>Price: {{ product.price }}</div>
        <div>Discount: {{ product.discout }}</div>
        <div>Archived: {{ product.archived }}</div>


    {% if product.preview %}
        <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}">
    {% endif %}

    <h3>Image:</h3>
    <div>
        {% for img in product.images.all %}
            <div>
                <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                <div>{{ img.description }}</div>
            </div>
        {% empty %}
            <div>Картинок покамест нема</div>
        {% endfor %}
    </div>
    </div>
    <div>
        <a href="{% url 'shopapp:product_list' %}"
        >Back to products list</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk%}"
        >Update product</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk%}"
        >Archive product</a>
    </div>
{% endblock %}