{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate "Product List" %}
{% endblock %}

{% block body %}
    <h1>{% translate "Products" %}:</h1>
    {% if products %}

    <div>
        {% blocktranslate count products_count=products|length %}
        There is only one product
        {% plural %}
        There are {{ products_count }} products.
        {% endblocktranslate%}
    </div>


    <div>
        {% for i_name in products %}
        <div>
            <p><a href="{% url 'shopapp:product_detail' pk=i_name.pk %}"
                > {% translate "Name" context "product name" %}: {{i_name.name}} </a></p>
            <p>{% translate "price" %}: {{i_name.price}}</p>
            {% translate "no discount" as no_discount %}
            <p>{% translate "discount" %}: {% firstof i_name.discout no_discount %}</p>

                {% if i_name.preview %}
                    <img src="{{ i_name.preview.url }}" alt="{{ i_name.preview.name }}">
                {% endif %}
            <p>-----------------------------</p>
        </div>
        {% endfor %}
    </div>

    <div>
        {% if perms.shopapp.add_product %}
        <a href="{% url 'shopapp:product_create' %}"
        >{% translate "create a new product" %}</a>
        {% endif %}   
    </div>
    
    {% else %}
    
    {% url 'shopapp:product_create' as create_product_url %}
    {% blocktranslate %}
    <h3>No products yet</h3>
    
    <a href="{{ create_product_url }}"
    >Create a new one</a>
        
    
    {% endblocktranslate %}
        
    {% endif %}

{% endblock %}