{% extends 'shopapp/base.html' %}

{% block title %}
    Product List

{% endblock %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
    <div>
        {% for i_name in products %}
        <div>
            <p>Name: {{i_name.name}}</p>
            <p>price: {{i_name.price}}</p>
            <p>discount: {% firstof i_name.discout 'Скидки нема' %}</p>
        </div>
        {% endfor %}
    </div>

    {% else %}
        <h3>
            Нет продуктов
        </h3>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:create_product' %}"
        >create a new product</a>
    </div>

{% endblock %}