{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
Shop
{% endblock %}


{% block body %}
<h1>Hellow world!</h1>

<div>
    <ul>
        {% for name, price in products %}
            
        <li>{{name}} ({{name|length }}) for ${{price}}</li>

            {% if name|length_is:'6' %}
            <span>Да</span>

            {% elif name|length_is:'10' %}
            <span>Ага</span>
            
            {% else %}
            <span>Тоже Тлен и безобразие</span>

            {% endif %}


        {% empty %}
        Тлен и безобразие 

        {% endfor %}
    </ul>
</div>

<div>
    <strong>
        You have {{ items }} cher{{ items|pluralize:"y,ies" }}
    </strong>
</div>

<div>
    time_running: {{time_running}}
</div>
{% cache 100 lorem %}
    <div>
        {% lorem 3 p random %}
    </div>
{% endcache %}

{% endblock %}