{% extends 'shopapp/base.html' %}
{% load cache %}

{% block title %}
    User №{{ user.pk }} Orders 
{% endblock %}

{% block body %}

    <header>
        <h1>Эта страница заказов пользователя</h1>
    </header>


    <section>
        <h2>Владелец страницы: {{ page_owner }}</h2>
        <p>Заказы:</p> 
        
        {% cache 300 orderinfo user.pk %}
        
        {% if data.object_list %}
            {% for order_data in data.object_list %}
            <ul>
                <li>
                    <p>Номер заказа: {{ order_data.pk }}</p>
                    <p>Адрес: {{ order_data.delivery_adress }}</p>
                    <p>Прокод: {{ order_data.promocode }}</p>
                </li>
                <p>Продукты в заказе:</p>
                {% for product in order_data.products.all %}
                <ul>
                    <li>{{ product.name }}</li>
                </ul>
                {% endfor %}
            </ul>
            {% endfor %}
            
        {% else %}
            <h2>Ещё нету заказов</h2>
        {% endif %}
        {% endcache %}
    </section>

{% endblock %}