{% extends 'myauthapp/base.html' %}
{% load cache %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User {{ profile.user.username }}</h1>

    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h3>Avatar:</h3>
        
        <div>
        {% if profile.profile_image %}
            <p>Avatar: <img src="{{ profile.profile_image.url }}" alt=""></p>

        {% else %}
            <p>Картинки профиля пока-что нету</p>

        {% endif %}  
        </div>
        {% if user.pk == profile.user.pk or user.is_staff or user.is_superuser %}
            {{ form.as_p }} 
            <button type="submit"
            >update</button>
        {% endif%}
                
        </form>
        {% cache 300 userinfo user.username %}
        <p>pk: {{ profile.user.pk }}</p>
        <p>Username: {{ profile.user.username }} </p>
        <p>First name: {{ profile.user.first_name }} </p>
        <p>Last name: {{ profile.user.last_name }} </p>
        <p>Email: {{ profile.user.email }} </p>
        <p>Bio: {{ profile.user.profile.bio }} </p>
        {% endcache %}

    {% else %}
            <h2>User in anonymous</h2>

    <a href="{% url 'authapp:about_me' pk=object.pk %}"></a>
    {% endif %}
    
    <a href="{% url 'authapp:users_list' %}"
    >Back</a>
{% endblock %}